EPAY_TOKEN_URL=https://test-epay-oauth.epayment.kz/oauth2/token
EPAY_INVOICE_URL=https://test-epay-api.epayment.kz/invoice
EPAY_STATUS_URL=https://test-epay-api.epayment.kz/invoice-links
EPAY_PAYOUT_URL=https://test-epay-api.epayment.kz/payout
EPAY_INVOICE_CLIENT_ID=
EPAY_INVOICE_CLIENT_SECRET=
EPAY_PAYOUT_CLIENT_ID=
EPAY_PAYOUT_CLIENT_SECRET=
EPAY_SHOP_ID=
EPAY_TERMINAL_ID=
EPAY_PAYOUT_TERMINAL_ID=
EPAY_WEBHOOK_TOKEN=
SEED_TOKEN=
SUBSCRIPTION_WINDOW_DAYS=35
