<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><activity android:name=".MainActivity">
<intent-filter android:autoVerify="true"><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="https" android:host="domly.kz" android:pathPrefix="/customer/"/></intent-filter>
<intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="domly"/></intent-filter>
</activity></application></manifest>
