#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.domly.pro
APP_DISPLAY_NAME = Domly Pro
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconDomlyPro
MAPS_API_KEY =

CODE_SIGN_ENTITLEMENTS = Runner/Runner.entitlements
DOMLY_URL_SCHEME = domly
APS_ENVIRONMENT = production
